* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body {
    background:#f4f6f9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Home */
.home-container {
    text-align:center;
}

.tagline {
    margin:10px 0 20px;
    color:#555;
}

.card {
    background:white;
    padding:30px;
    width:420px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* Form */
.form-container {
    background:white;
    padding:30px;
    width:420px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

label {
    font-weight:600;
    display:block;
    margin-top:12px;
}

select,input {
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
}

button,.btn {
    margin-top:20px;
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:12px;
    border-radius:6px;
    text-decoration:none;
    width:100%;
    text-align:center;
}

button:hover,.btn:hover {
    background:#1d4ed8;
}

.result {
    margin-top:20px;
    padding:15px;
    background:#dcfce7;
    border-radius:6px;
    font-weight:bold;
}
